<style>
.padded-block { padding-top: 70px; padding-bottom: 80px; }
.supporters a img { width: 200px; }
.supporters a { width: 200px; margin: 20px 25px; }
.supporters div.inst { margin-top: 25px; }
.p_tfm_logo { background-color: #84a726; }
.p_tfm_logo img { width: 110px !important; }
.supporters a, .supporters a:hover {
  background-color: transparent;
}
</style>

<div ui-view class="layouts-base scrolling content">
  <div class="location-container">

    <!-- content -->
    <div class="supporters container padded-block">

      <h2 translate>{{ 'nav_background' }}</h2>
      <div translate>{{ 'watershed_background' }}</div>

      <hr />

      <div class="row">
        
        <div class="col-md-6">
          <h3>{{'supported_by' | translate}}: </h3>
          <div class="row">
            <a class="p_mf_logo" href="https://www.macfound.org/">
              <img src="static/app/img/macfound.png" alt="MacArthur Foundation" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <h3>{{'developed_by' | translate}}: </h3>
          <div class="row inst">
            <a class="p_mol_logo" href="https://www.mol.org">
              <img src="static/app/img/logo.png" alt="Map of Life" />
            </a>
            <a class="p_tfm_logo" href="https://www.fieldmuseum.org/">
              <img src="static/app/img/field_museum_logo.jpg" alt="The Field Museum" />
            </a>
          </div>        
        </div>

      </div>

      <div class="row">
        <div>
          <h3>{{'partners' | translate}}: </h3>
          <div class="row inst">
            <a class="p_mol_logo" href="http://www.biodiversidad.gob.ec/">
              <img src="static/app/img/inabio.jpg" alt="INABIO" />
            </a>
            <a class="p_mol_logo" href="http://www.sernanp.gob.pe/">
              <img src="static/app/img/sernanp-01.png" alt="SERNANP" />
            </a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.content -->

  </div>
</div>
