<style>
.padded-block { padding-top: 70px; padding-bottom: 80px; }
.supporters a img { width: 200px; }
.supporters a { width: 200px; margin: 20px 25px; }
.supporters div.inst { margin-top: 50px; }
.p_tfm_logo { background-color: #84a726; }
.p_tfm_logo img { background-color: #84a726; height: 85px; padding: 5px; }
.supporters a, .supporters a:hover {
  background-color: transparent;
}
</style>

<div ui-view class="layouts-base scrolling content">
  <div class="location-container">

    <!-- content -->
    <div class="supporters-remove container padded-block">

      <h2 translate>{{'faq_title'}}</h2>

      <hr />

      <h3 translate>{{'faq_section_1'}}</h3>

      <div class="row">
        <h4 translate>{{'faq_question_1'}}</h4>
        <p ng-bind-html="'faq_answer_1' | translate | newlines"></p>
      </div>

      <div class="row">
        <h4 translate>{{'faq_question_2'}}</h4>
        <p ng-bind-html="'faq_answer_2' | translate | newlines"></p>
      </div>

      <div class="row">
        <h4 translate>{{'faq_question_3'}}</h4>
        <p ng-bind-html="'faq_answer_3' | translate | newlines"></p>
      </div>

      <div class="row">
        <h4 translate>{{'faq_question_4'}}</h4>
        <p ng-bind-html="'faq_answer_4' | translate | newlines"></p>
      </div>

      <div class="row">
        <h4 translate>{{'faq_question_5'}}</h4>
        <p ng-bind-html="'faq_answer_5' | translate | newlines"></p>
      </div>

      <div class="row">
        <h4 translate>{{'faq_question_6'}}</h4>
        <p ng-bind-html="'faq_answer_6' | translate | newlines"></p>
      </div>

      <div class="row">
        <h4 translate>{{'faq_question_7'}}</h4>
        <p ng-bind-html="'faq_answer_7' | translate | newlines"></p>
      </div>

      <hr />

      <h3 translate>{{'faq_section_2'}}</h3>

      <div class="row">
        <h4 translate>{{'faq_question_8'}}</h4>
        <p ng-bind-html="'faq_answer_8' | translate | newlines"></p>
      </div>

      <div class="row">
        <h4 translate>{{'faq_question_9'}}</h4>
        <p ng-bind-html="'faq_answer_9' | translate | newlines"></p>
      </div>

      <div class="row">
        <h4 translate>{{'faq_question_10'}}</h4>
        <p ng-bind-html="'faq_answer_10' | translate | newlines"></p>
      </div>

      <div class="row">
        <h4 translate>{{'faq_question_11'}}</h4>
        <p ng-bind-html="'faq_answer_11' | translate | newlines"></p>
      </div>

      <div class="row">
        <h4 translate>{{'faq_question_12'}}</h4>
        <p ng-bind-html="'faq_answer_12' | translate | newlines"></p>
      </div>

      <hr />

      <h3 translate>{{'faq_section_3'}}</h3>

      <div class="row">
        <h4 translate>{{'faq_question_13'}}</h4>
        <p ng-bind-html="'faq_answer_13' | translate | newlines"></p>
      </div>

      <div class="row">
        <h4 translate>{{'faq_question_14'}}</h4>
        <p ng-bind-html="'faq_answer_14' | translate | newlines"></p>
      </div>

      <hr />
  
    </div>
    <!-- /.content -->

  </div>
</div>
