<style>
.padded-block { padding-top: 70px; padding-bottom: 80px; }
.supporters a img { width: 200px; }
.supporters a { width: 200px; margin: 20px 25px; }
.supporters div.inst { margin-top: 50px; }
.p_tfm_logo { background-color: #84a726; }
.p_tfm_logo img { background-color: #84a726; height: 85px; padding: 5px; }
.supporters a, .supporters a:hover {
  background-color: transparent;
}
</style>

<div ui-view class="layouts-base scrolling content">
  <div class="location-container">

    <!-- content -->
    <div class="supporters container padded-block">
<!-- 
      <h3>{{'nav_feedback' | translate}} </h3>

      <div class="row">
        Please provide feedback about the any issues
      </div> -->

      <div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSezBz-IgvsW5oLRwhjtAw0NVdfJikx3uXi9WP9FBI5FeVGbjQ/viewform?embedded=true&hl=es" 
          width="640" height="1001" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>

    </div>
    <!-- /.content -->

  </div>
</div>
