<style>
.padded-block { padding-top: 70px; padding-bottom: 80px; }

.main-content h2 {
  padding-bottom: 10px;
}

.p_mf_logo img { width: 100px; }

.layouts-base { 
  background: linear-gradient(
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ), url(static/app/img/parks/slide6.jpg) no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-content h2 small, .main-content, .footer-content {
  color: #fff;
}
.main-content .dashboard-links div {
  position: relative;
  min-height: 13em;
}
.main-content .dashboard-links div a.btn {
  position: absolute;
  bottom: 0;
  padding: 8px 15px;
}
.footer-content {
  position: fixed; 
  bottom: 10px;
  width: 100%;
}
.footer-content .copyright {
  font-size: 12px;
}
@media (max-width: 500px) {
  .padded-block {
    padding-top: 0;
  }
}
</style>

<div ui-view class="layouts-base background-tint scrolling content">
  <div class="location-container">

    <!-- content -->
    <div class="main-content container padded-block">

      <div>
        <h2>{{'title' | translate}}
        </h2>
        <p class="lead">{{'description' | translate}}</p>
      </div>

      <!-- dashboard buttons -->
      <div class="row dashboard-links">

        <div class="col-md-4">
          <p><a class="btn btn-lg btn-default" style="min-width: 75%" ui-sref="regions.region({regiontype: 'national_parks'})" role="button" translate>hero_title_parks</a></p>
        </div>

        <div class="col-md-4">
          <p><a class="btn btn-lg btn-default" style="min-width: 75%" ui-sref="regions.region({regiontype: 'watersheds'})" role="button" translate>hero_title_watersheds</a></p>
        </div>

        <div class="col-md-4">
          <p><a class="btn btn-lg btn-default" style="min-width: 75%" ui-sref="regions.region({regiontype: 'countries'})" role="button" translate>hero_title_countries</a></p>
        </div>

      </div>
      
      
    </div>
    <!-- /.content -->

    <div class="footer-content">

      <div class="container">
        <div class="supporters">
          <h4>{{'supported_by' | translate}}: </h4>
          <a class="p_mf_logo" href="https://www.macfound.org/">
            <img src="static/app/img/macfound.png" alt="MacArthur Foundation" />
          </a>
        </div>

        <div class="pull-right">
          <p class="copyright">{{'bg_img_caption' | translate}} <br /> {{'bg_img_copyright' | translate}} </p>
        </div>

      </div>

    </div>

  </div>
</div>
