<style>
.padded-block { padding-top: 70px; padding-bottom: 80px; }
.supporters a img { width: 200px; }
.supporters a { width: 200px; margin: 20px 25px; }
.supporters div.inst { margin-top: 25px; }
.p_tfm_logo { background-color: #84a726; }
.p_tfm_logo img { width: 110px !important; }
.supporters a, .supporters a:hover {
  background-color: transparent;
}
div.person-photo {
  /* margin-top: 2em; */
  text-align: center;
  font-size: 16px;
}
div.person-photo img {
  width: auto;
  max-height: 200px;
  margin-top: 2.3em;
}
</style>

<div ui-view class="layouts-base scrolling content">
  <div class="location-container">

    <!-- content -->
    <div class="supporters container padded-block">

      <h3 translate>{{ 'team_leads' }}</h3>

      <div class="row person-photo">
        
        <div class="col-md-offset-1 col-md-4 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://mol.org/assets/img/team/walter.jpg">
          <div class="bio-info">
            <h4>Walter Jetz</h4>
            <div>Lead PI</div>
            <div>Yale University</div>
            <a href="http://jetzlab.yale.edu/" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

        <div class="col-md-offset-1 col-md-4 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://www.fieldmuseum.org/sites/default/files/styles/headshot/public/pictures/picture-1171-1435343936.jpg?itok=inAHvs3g">
          <div class="bio-info">
            <h4>Nigel Pitman</h4>
            <div>Lead PI</div>
            <div>Field Museum</div>
            <a href="https://www.fieldmuseum.org/about/staff/profile/1136" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

      </div>

      <hr/>
      <h3 translate>{{ 'team_informatics' }}</h3>

      <div class="row person-photo">

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://mol.org/assets/img/team/ajay.png">
          <div class="bio-info">
            <h4>Ajay Ranipeta</h4>
            <div>Lead Engineer</div>
            <div>Yale University</div>
            <a href="https://about.me/funkycoda" target="_blank"><i class="fa fa-globe"></i></a>
            <a href="https://au.linkedin.com/in/ajayranipeta"><i class="fa fa-linkedin"></i></a>
            <a href="https://twitter.com/funkycoda"><i class="fa fa-twitter"></i></a>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://mol.org/assets/img/team/michelle.jpg">
          <div class="bio-info">
            <h4>Michelle Duong</h4>
            <div>Project Manager</div>
            <div>Yale University</div>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://mol.org/assets/img/team/yanina.jpg">
          <div class="bio-info">
            <h4>Yanina Sica</h4>
            <div>Data Manager</div>
            <div>Yale University</div>
            <a href="https://yaninasica.wixsite.com/yaninasica" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

      </div>

      <hr/>
      <h3 translate>{{ 'team_curators' }} - Field Museum</h3>

      <div class="row person-photo">

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="http://www.eeb.utoronto.ca/Assets/EEB+2013+Digital+Assets/EEB/EEB+Digital+Assets/People/StGeorge+Faculty/Adriana+Bravo+photo.jpg">
          <div class="bio-info">
            <h4>Adriana Bravo</h4>
            <div>Coordination</div>
            <div>Field Museum</div>
            <a href="http://www.eeb.utoronto.ca/people/d-faculty/Adriana_Bravo.htm" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://www.fieldmuseum.org/sites/default/files/styles/headshot/public/pictures/picture-64076-1542657953.jpg?itok=c8YLUXZx">
          <div class="bio-info">
            <h4>Michelle Thompson</h4>
            <div>Data Curator</div>
            <div>Field Museum</div>
            <a href="https://www.fieldmuseum.org/about/staff/profile/2631" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://www.fieldmuseum.org/sites/default/files/styles/headshot/public/pictures/picture-38421-1521209910.jpg?itok=0VYb_Sd2">
          <div class="bio-info">
            <h4>Lesley de Souza</h4>
            <div>Data Curator</div>
            <div>Field Museum</div>
            <a href=" https://www.fieldmuseum.org/about/staff/profile/2316" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://www.fieldmuseum.org/sites/default/files/styles/headshot/public/pictures/picture-64071-1539871638.jpg?itok=fHhaCf_E">
          <div class="bio-info">
            <h4>Tomomi Suwa</h4>
            <div>Data Curator</div>
            <div>Field Museum</div>
            <a href="https://www.fieldmuseum.org/about/staff/profile/2601" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://www.fieldmuseum.org/sites/default/files/styles/headshot/public/pictures/picture-441-1520457198.jpg?itok=l-iTSHXH">
          <div class="bio-info">
            <h4>Corine Vriesendorp</h4>
            <div>Data Curator</div>
            <div>Field Museum</div>
            <a href="https://www.fieldmuseum.org/about/staff/profile/406" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://www.fieldmuseum.org/sites/default/files/styles/headshot/public/nancy_hensold.jpg?itok=iFP19F6F">
          <div class="bio-info">
            <h4>Nancy Hensold</h4>
            <div>Data Curator</div>
            <div>Field Museum</div>
            <a href="https://www.fieldmuseum.org/about/staff/profile/346" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://www.fieldmuseum.org/sites/default/files/styles/headshot/public/65796_10150111435050555_519155554_7573848_6445350_n.jpg?itok=_nRTlHoN">
          <div class="bio-info">
            <h4>Juliana Philipp</h4>
            <div>Data Curator</div>
            <div>Field Museum</div>
            <a href="https://www.fieldmuseum.org/about/staff/profile/376" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="static/app/img/team/NicholasKotlinski.jpg">
          <div class="bio-info">
            <h4>Nicholas Kotlinski</h4>
            <div>Data Curator</div>
            <div>Field Museum</div>
            <a href="https://www.linkedin.com/in/nicholas-kotlinski-06360b186" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="static/app/img/team/ColleenKingsbury.jpg">
          <div class="bio-info">
            <h4>Colleen Kingsbury</h4>
            <div>Data Curator</div>
            <div>Field Museum</div>
            <a href="https://www.fieldmuseum.org/about/staff/profile/2331" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://www.fieldmuseum.org/sites/default/files/styles/headshot/public/Sharon_2011.jpg?itok=KkC10ohX">
          <div class="bio-info">
            <h4>Sharon Grant</h4>
            <div>Data Curator</div>
            <div>Field Museum</div>
            <a href="https://www.fieldmuseum.org/about/staff/profile/11" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="static/app/img/team/KateWebbink.jpg">
          <div class="bio-info">
            <h4>Kate Webbink</h4>
            <div>Data Curator</div>
            <div>Field Museum</div>
            <a href="https://www.fieldmuseum.org/about/staff/profile/986" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>
        
      </div>

      <hr/>
      <h3 translate>{{ 'team_curators' }} - Yale</h3>

      <div class="row person-photo">

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://mol.org/assets/img/team/john.jpg">
          <div class="bio-info">
            <h4>John Wilshire</h4>
            <div>Software Engineer</div>
            <div>Yale University</div>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://mol.org/assets/img/team/wendy.jpg">
          <div class="bio-info">
            <h4>Wendy Dorman</h4>
            <div>Data Curator</div>
            <div>Yale University</div>
          </div>
        </div>

        <div class="col-xs-3 col-xs-4">
          <img class="img-responsive img-thumbnail" src="https://mol.org/assets/img/team/isabel.jpg">
          <div class="bio-info">
            <h4>Isabel Del Toro Mijares</h4>
            <div>Research Assistant</div>
            <div>Yale University</div>
          </div>
        </div>    
        
      </div>

      <hr/>
      <h3 translate>{{ 'team_past' }}</h3>

      <div class="row person-photo">

        <div class="col-xs-6">
          <img class="img-responsive img-thumbnail" src="https://mol.org/assets/img/team/luis.jpg">
          <div class="bio-info">
            <h4>Luis J Villanueva-Rivera</h4>
            <div>Biodiversity Data Manager</div>
            <div>Yale University</div>
          </div>
        </div>

        <div class="col-xs-6">
          <img class="img-responsive img-thumbnail" src="https://mol.org/assets/img/team/julie.jpg">
          <div class="bio-info">
            <h4>Julie Hart</h4>
            <div>Biodiversity Data Manager</div>
            <div>Yale University</div>
          </div>
        </div>
        
      </div>
    
    </div>
    <!-- /.content -->

  </div>
</div>
