<style>
.padded-block { padding-top: 70px; padding-bottom: 80px; }
.supporters a img { width: 200px; }
.supporters a { width: 200px; margin: 20px 25px; }
.supporters div.inst { margin-top: 50px; }
.p_tfm_logo { background-color: #84a726; }
.p_tfm_logo img { background-color: #84a726; height: 85px; padding: 5px; }
.supporters a, .supporters a:hover {
  background-color: transparent;
}
</style>

<div ui-view class="layouts-base scrolling content">
  <div class="location-container">

    <!-- content -->
    <div class="supporters container-remove padded-block-remove">

      <div style="position: fixed; width: 100%; height: 90%;">
        <iframe ng-src="{{upload_url}}" width="100%" frameborder="0" marginheight="0" marginwidth="0"
          style="display: block; width: 100%; height: 100%; border: none;">Loading...</iframe>
      </div>

    </div>
    <!-- /.content -->

  </div>
</div>
