<style>
#palette-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
#palette-container ul li {
  padding: 0;
  margin: 0;
  font: 12px/16px "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #666666;
}
#palette-container ul li.legend-title {
  text-align: center;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}
#palette-container ul li.legend-min {
  float: left;
  margin: 0 0 5px 0;
}
#palette-container ul li.legend-max {
  float: right;
  margin: 0 0 5px 0;
}
#palette-container ul li.legend-palette {
  clear: both;
  overflow: hidden;
  display: table;
  width: 100%;
  height: 22px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
}
.legend-palette-container { display: table-row; }
.legend-palette-color {
  display:table-cell;
  width:10px;
  height:22px;
}  
</style>
<div id="palette-container">
  <ul>
    <li class="legend-min">200m</li>
    <li class="legend-max">3397m</li>
    <li class="legend-avg">824m</li>
    <li class="legend-palette">
      <div class="legend-palette-container">
        <div class="legend-palette-color" style="background-color:#0500ff;"></div>
        <div class="legend-palette-color" style="background-color:#0400ff;"></div>
        <div class="legend-palette-color" style="background-color:#0300ff;"></div>
        <div class="legend-palette-color" style="background-color:#0200ff;"></div>
        <div class="legend-palette-color" style="background-color:#0100ff;"></div>
        <div class="legend-palette-color" style="background-color:#0000ff;"></div>
        <div class="legend-palette-color" style="background-color:#0002ff;"></div>
        <div class="legend-palette-color" style="background-color:#0012ff;"></div>
        <div class="legend-palette-color" style="background-color:#0022ff;"></div>
        <div class="legend-palette-color" style="background-color:#0032ff;"></div>
        <div class="legend-palette-color" style="background-color:#0044ff;"></div>
        <div class="legend-palette-color" style="background-color:#0054ff;"></div>
        <div class="legend-palette-color" style="background-color:#0064ff;"></div>
        <div class="legend-palette-color" style="background-color:#0074ff;"></div>
        <div class="legend-palette-color" style="background-color:#0084ff;"></div>
        <div class="legend-palette-color" style="background-color:#0094ff;"></div>
        <div class="legend-palette-color" style="background-color:#00a4ff;"></div>
        <div class="legend-palette-color" style="background-color:#00b4ff;"></div>
        <div class="legend-palette-color" style="background-color:#00c4ff;"></div>
        <div class="legend-palette-color" style="background-color:#00d4ff;"></div>
        <div class="legend-palette-color" style="background-color:#00e4ff;"></div>
        <div class="legend-palette-color" style="background-color:#00fff4;"></div>
        <div class="legend-palette-color" style="background-color:#00ffd0;"></div>
        <div class="legend-palette-color" style="background-color:#00ffa8;"></div>
        <div class="legend-palette-color" style="background-color:#00ff83;"></div>
        <div class="legend-palette-color" style="background-color:#00ff5c;"></div>
        <div class="legend-palette-color" style="background-color:#00ff36;"></div>
        <div class="legend-palette-color" style="background-color:#00ff10;"></div>
        <div class="legend-palette-color" style="background-color:#17ff00;"></div>
        <div class="legend-palette-color" style="background-color:#3eff00;"></div>
        <div class="legend-palette-color" style="background-color:#65ff00;"></div>
        <div class="legend-palette-color" style="background-color:#8aff00;"></div>
        <div class="legend-palette-color" style="background-color:#b0ff00;"></div>
        <div class="legend-palette-color" style="background-color:#d7ff00;"></div>
        <div class="legend-palette-color" style="background-color:#fdff00;"></div>
        <div class="legend-palette-color" style="background-color:#FFfa00;"></div>
        <div class="legend-palette-color" style="background-color:#FFf000;"></div>
        <div class="legend-palette-color" style="background-color:#FFe600;"></div>
        <div class="legend-palette-color" style="background-color:#FFdc00;"></div>
        <div class="legend-palette-color" style="background-color:#FFd200;"></div>
        <div class="legend-palette-color" style="background-color:#FFc800;"></div>
        <div class="legend-palette-color" style="background-color:#FFbe00;"></div>
        <div class="legend-palette-color" style="background-color:#FFb400;"></div>
        <div class="legend-palette-color" style="background-color:#FFaa00;"></div>
        <div class="legend-palette-color" style="background-color:#FFa000;"></div>
        <div class="legend-palette-color" style="background-color:#FF9600;"></div>
        <div class="legend-palette-color" style="background-color:#FF8c00;"></div>
        <div class="legend-palette-color" style="background-color:#FF8200;"></div>
        <div class="legend-palette-color" style="background-color:#FF7800;"></div>
        <div class="legend-palette-color" style="background-color:#FF6e00;"></div>
        <div class="legend-palette-color" style="background-color:#FF6400;"></div>
        <div class="legend-palette-color" style="background-color:#FF5a00;"></div>
        <div class="legend-palette-color" style="background-color:#FF5000;"></div>
        <div class="legend-palette-color" style="background-color:#FF4600;"></div>
        <div class="legend-palette-color" style="background-color:#FF3c00;"></div>
        <div class="legend-palette-color" style="background-color:#FF3200;"></div>
        <div class="legend-palette-color" style="background-color:#FF2800;"></div>
        <div class="legend-palette-color" style="background-color:#FF1e00;"></div>
        <div class="legend-palette-color" style="background-color:#FF1400;"></div>
        <div class="legend-palette-color" style="background-color:#FF0a00;"></div>
        <div class="legend-palette-color" style="background-color:#FF0000;"></div>
        <div class="legend-palette-color" style="background-color:#FF0010;"></div>
        <div class="legend-palette-color" style="background-color:#FF0020;"></div>
        <div class="legend-palette-color" style="background-color:#FF0030;"></div>
        <div class="legend-palette-color" style="background-color:#FF0040;"></div>
        <div class="legend-palette-color" style="background-color:#FF0050;"></div>
        <div class="legend-palette-color" style="background-color:#FF0060;"></div>
        <div class="legend-palette-color" style="background-color:#FF0070;"></div>
        <div class="legend-palette-color" style="background-color:#FF0080;"></div>
        <div class="legend-palette-color" style="background-color:#FF0090;"></div>
        <div class="legend-palette-color" style="background-color:#FF00A0;"></div>
        <div class="legend-palette-color" style="background-color:#FF00B0;"></div>
        <div class="legend-palette-color" style="background-color:#FF00C0;"></div>
        <div class="legend-palette-color" style="background-color:#FF00D0;"></div>
        <div class="legend-palette-color" style="background-color:#FF00E0;"></div>
        <div class="legend-palette-color" style="background-color:#FF00F0;"></div>
        <div class="legend-palette-color" style="background-color:#FF01F0;"></div>
        <div class="legend-palette-color" style="background-color:#FF02F0;"></div>
        <div class="legend-palette-color" style="background-color:#FF03F0;"></div>
        <div class="legend-palette-color" style="background-color:#FF04F0;"></div>
        <div class="legend-palette-color" style="background-color:#FF05F0;"></div>
        <div class="legend-palette-color" style="background-color:#FF06F0;"></div>
        <div class="legend-palette-color" style="background-color:#FF07F0;"></div>
        <div class="legend-palette-color" style="background-color:#FF08F0;"></div>
        <div class="legend-palette-color" style="background-color:#FF09F0;"></div>
        <div class="legend-palette-color" style="background-color:#FF0AF0;"></div>
        <div class="legend-palette-color" style="background-color:#FF0BF0;"></div>
        <div class="legend-palette-color" style="background-color:#FF0CF0;"></div>
        <div class="legend-palette-color" style="background-color:#FF0DF0;"></div>
        <div class="legend-palette-color" style="background-color:#FF0EF0;"></div>
      </div>
    </li>
  </ul>

</div>