<style>
#thermal-belt-palette {padding: 0 20px 15px;}
#thermal-belt-palette .row {
  padding: 5px 0 0;
}
.tbp-color {
  height: 10px;
}
.tbp-label {
  text-align: left;
  font: 12px/16px "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
#thermal-belt-palette .tvz1 {background-color:#aabcef;}
#thermal-belt-palette .tvz2 {background-color:#00B1D7;}
#thermal-belt-palette .tvz3 {background-color:#4D35A1;}
#thermal-belt-palette .tvz4 {background-color:#00AF4A;}
#thermal-belt-palette .tvz5 {background-color:#00823E;}
#thermal-belt-palette .tvz6 {background-color:#FDDE16;}
#thermal-belt-palette .tvz7 {background-color:#FF8A11;}
#thermal-belt-palette .btn {border: 0.75pt solid grey !important;}
</style>
<div id="thermal-belt-palette">
  <div class="row">
    <div class="btn tvz1 tbp-color col-sm-2"></div>
    <div class="tbp-label col-sm-10" translate>tb_nival</div>
  </div>
  <div class="row">
    <div class="btn tvz2 tbp-color col-sm-2"></div>
    <div class="tbp-label col-sm-10" translate>tb_upper_alpine</div>
  </div>
  <div class="row">
    <div class="btn tvz3 tbp-color col-sm-2"></div>
    <div class="tbp-label col-sm-10" translate>tb_lower_alpine</div>
  </div>
  <div class="row">
    <div class="btn tvz4 tbp-color col-sm-2"></div>
    <div class="tbp-label col-sm-10" translate>tb_upper_montane</div>
  </div>
  <div class="row">
    <div class="btn tvz5 tbp-color col-sm-2"></div>
    <div class="tbp-label col-sm-10" translate>tb_lower_montane</div>
  </div>
  <div class="row">
    <div class="btn tvz6 tbp-color col-sm-2"></div>
    <div class="tbp-label col-sm-10" translate>tb_warm_freezing</div>
  </div>
  <div class="row">
    <div class="btn tvz7 tbp-color col-sm-2"></div>
    <div class="tbp-label col-sm-10" translate>tb_warm_no_freezing</div>
  </div>
</div>