<style>
  .species-detail-container {
      min-height: 400px;
      margin: 15px;
      overflow: scroll;
  }

  #button-wrapper a { margin: 8px; }

  #info-text {
    font-size: 15px;
    line-height: 1.5;
  }
  #info-source {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
  }

  .species-image, .species-range { 
    width: 250px; 
    min-width: 150px; 
    margin: 10px; 
  }
  @media (max-width: 768px) {
    #image-wrapper {
      display:flex;
      flex-direction:row;
      justify-content: center;
    }  
    #image-wrapper div {
      display: flex;
      flex-direction: column;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .fade-in.ng-enter {
    transition: 1s linear all;
    opacity: 0;
  }
  .fade-in.ng-enter.ng-enter-active {
    opacity: 1;
  }
</style>

<div class="species-detail-container">
  <div id="button-wrapper" class="pull-right">
    <a class="btn btn-default btn-sm" ng-click="mapSpecies(species)">{{ 'detailed_info' | translate }}</a>
    <a class="btn btn-danger btn-xs" aria-label="Reset" ng-click="$close()"><i class="fa fa-close" aria-hidden="true"></i></a>
  </div>

  <div>
    <h4 class="common">{{species.common || species.commonname}}</h4>
    <h5 class="scientificname"><i>{{species.scientificname}}</i></h5> 
  </div>

  <div>
      <div class="row threat_status">
          <!-- <div class="col-md-1 col-sm-1">&nbsp;</div> -->
          <div class="col-md-4 col-sm-4 infoIUCNStatus {{species.redlist}}"
              style="font-size:0.8em; cursor: pointer; cursor: hand;" 
              ng-show="species.redlist">
            <a href="{{ species.redlist_link || 'http://www.iucnredlist.org/' }}" target="_blank">{{ ('iucn_'+species.redlist) | lowercase | translate }}&nbsp;({{ (species.redlist_citation_short || 'IUCN&nbsp;2017') | replace:"[()]":"" }})</a>
          </div>
          <div class="col-md-4 col-sm-4 infoIUCNStatus {{species.threat_cites}}"
              style="font-size:0.8em; cursor: pointer; cursor: hand;" 
              ng-show="species.threat_cites">
            <a href="https://www.cites.org/eng/app/appendices.php" target="_blank">CITES: Appendices {{ species.threat_cites }}</a>
          </div>
          <div class="col-md-4 col-sm-4 infoIUCNStatus {{species.threat_national}}"
              style="font-size:0.8em; cursor: pointer; cursor: hand;" 
              ng-show="species.threat_national">
            <a href="http://www.nationalredlist.org/" target="_blank"><span translate>threat_national</span>: {{ ('iucn_'+species.threat_national) | lowercase | translate }}</a>
          </div>
        </div>
    
  </div>

  <div>
    
    <div id="image-wrapper" class="col-md-4 col-sm-6">

      <div id="imga">
        <img class="species-image img-responsive fade-in" alt="" 
            ng-if="species.image_url || species.image.url" 
            ng-src="{{(species.image_url || species.image.url) + '=s250'}}" />
      </div>

      <div id="imgb">
        <img class="species-range img-responsive fade-in" 
            ng-if="species.rangemap" 
            ng-src="{{species.rangemap + '&size=640,640&api_key=allyourbase' }}" />
      </div>

    </div>

    <div id="info-wrapper" class="col-md-8 col-sm-6">

      <div class="fade-in" ng-if="loading">
        <h5><i class="fa fa-refresh fa-spin fa-fw"></i> Loading species information... </h5>
      </div>

      <div class="fade-in" ng-if="!loading && !species.info">
        <p><em>Species description not available.</em></p>
      </div>

      <div class="fade-in" ng-if="species.info[0].content">
        <p id="info-text">{{species.info[0].content}}</p>
        <p id="info-source" class="pull-right">{{'source' | translate}}: 
          <a href="https://{{molConfig.lang}}.wikipedia.org/wiki/{{species.scientificname | replace:' ':'_'}}" target="_blank">Wikipedia</a>
        </p>        
      </div>
    </div>

  </div>


</div>