<div style="margin:10px;">
  <button
    ng-click="mapSpecies(species)"
    class="btn btn-default pull-right">Explore on mol.org</button>
  <h3 class="common">{{species.common || species.commonname}}</h3>
  <h4 class="scientificname"><i>{{species.scientificname}}</i></h4>
  <p>{{species.info[0].content}}</p>
  <table border="0"><tbody><tr>
  <td><img
    style="width:250px; margin: 10px;"
    align="left"
    ng-if="species.rangemap"
    ng-src="{{species.rangemap + '&size=640,640&api_key=allyourbase' }}"></td>
  <td><img align="right"
    ng-if="species.image_url || species.image.url"
    ng-src="{{(species.image_url || species.image.url) + '=s250'}}"></td></tr></tbody></table>
</div>
