<div style="padding:20px;margin: 10px;">
  <img align="right"
    ng-if="species.image_url || species.image.url"
    ng-src="{{(species.image_url || species.image.url) + '=s300'}}">
  <h2 class="common">{{species.common || species.commonname}}</h2>
  <h3 class="scientificname"><i>{{species.scientificname}}</i></h3>
  {{species.info[0].content}}
  <img
    style="width:300px; margin: 10px;"
    align="left"
    ng-if="species.rangemap"
    ng-src="{{species.rangemap + '&size=640,640&api_key=allyourbase' }}">
</div>
