<div class="sidebar species-list">
  <div ng-if="!model.region.name">
    <div>
      <div ng-if="model.regionType.source_logo" class="pull-right">
        <a class="img-link" href="{{model.regionType.source_url}}">
            <img src="{{model.regionType.source_logo}}" width="120px" />
          </a>
      </div>
      <div class="region-info">
        <h4>{{ model.regionType.type || "" | translate | capitalize }}</h4>
        <b>{{ model.hover_region.name }}</b>
      </div>

      <span ng-if="model.regions && false">
            <hr class="info-box-divider" />

            <div class="region-search">
                <h5>{{ model.placeholders.search }} </h5> 
                <input type="text"
                    placeholder="{{ model.placeholders.filter }}"
                    ng-model="model.selected_region"
                    typeahead-on-select="model.selected_region = $item"
                    typeahead-show-hint="true"
                    typeahead-select-on-blur="false"
                    typeahead-min-length="0"
                    typeahead-popup-template-url="groupedRegionPopupTemplate.html"
                    uib-typeahead="region as region.name for region in model.regions | filter:$viewValue" class="form-control" />
            </div>
        </span>

      <div ng-if="model.regionType.copyright">
        <hr class="info-box-divider" />
        <p ng-bind-html="model.regionType.copyright"></p>
      </div>
    </div>

    <!-- display other region types to select from -->
    <div ng-if="model.regionTypes && !$state.params.embed">

        <hr class="info-box-divider" />
  
        <h4 translate>other_region_types</h4>
        <div>
          <ul>
            <li ng-repeat="rt in model.regionTypes | remove:model.regionType | removeWith:{type:'countries'}"><a ui-sref="regions.region({regiontype: '{{ rt.type }}'})"><span>{{ rt.type | translate | capitalize }}</span></a></li>
          </ul>
        </div>
  
      </div>
  
  </div>

  <div ng-if="model.region.name">
    <a class="btn btn-danger btn-xs pull-right" ng-click="showAllRegions()" aria-label="Reset"><i class="fa fa-close" aria-hidden="true"></i></a>
  </div>

  <!-- <h4 ng-if="model.region.name">
    <span class="lead">{{model.selectedGroup.title || "Species"}}</span> expected in the
    <br />
    <span class="lead">{{model.region.name}}</span> region.
  </h4> -->
  <div ng-if="model.region.name">
    <h4>
      <span class="lead">{{model.region.name}}</span> <br /> 
      <small ng-if="model.regionType.type != 'indigenous_areas' && model.regionType != 'indigenous_areas'">{{(model.regionType.type || model.regionType || "") | translate}}</small>
    </h4>
    <ul ng-if="model.selected_region.attributes.general && model.selected_region.attributes.general.area">
      <li>
        <strong>{{ 'attr_area' | translate }}</strong>: {{ model.selected_region.attributes.general.area | number }} km2
      </li>
      <li translate translate-values="model.selected_region.attributes.general.elevation">attr_elevation</li>    
    </ul>
  </div>
  

  <div ng-if="model.error.message">
    <hr />
    <h5><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{model.error.message}} </h5>
    <p>Please try again or <a href="https://mol.org/feedback">let us know</a> about the issue.</p>
    <hr />
  </div>

  <div ng-if="model.region.name && model.selectedGroup === undefined && model.taxogroups[0].species === undefined && model.error.message === undefined">
    <hr />
    <h5><i class="fa fa-refresh fa-spin fa-fw"></i> {{ 'loading_sp_list' | translate }} </h5>
    <hr />
  </div>


<div ng-if="model.region.name">
    <uib-tabset justified="true">
      <uib-tab heading="{{ 'species' | translate }}" active="activeRegionTab[0]" select="selectRegionTab[0]">
        
        <div ng-if="model.region.name && model.selectedGroup === undefined && model.taxogroups[0].species ">
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <button class="btn btn-sm btn-default pull-right" ng-click="downloadCSV()">
                  <i class="fa fa-download" aria-hidden="true"></i> {{ 'download_list_full' | translate }}
                </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <select class="form-control selectpicker" ng-model="model.selectedSpeciesList">
                <option value="expected">{{ 'expected_species' | translate }}</option>
                <option value="recorded">{{ 'recorded_species' | translate }}</option>
              </select>
            </div>
            <div class="col-md-6 col-xs-6">
              <select class="form-control selectpicker" ng-model="model.selectedSpeciesStatus">
                <option value="">{{ 'all_species' | translate }}</option>
                <option value="redlist">{{ 'threat_iucn' | translate }}</option>
                <option value="threat_national">{{ 'threat_national' | translate }}</option>
                <option value="threat_cites">{{ 'threat_cites' | translate }}</option>
                <option value="threat_all">{{ 'threat_all' | translate }}</option>
                <option value="endemic">{{ 'endemic' | translate }}</option>
                <option value="unique_to_park">{{ 'unique_to_park' | translate }}</option>
              </select>
            </div>
            <!-- <div class="col-md-6 col-xs-6">
              <button class="btn btn-sm btn-default pull-right" ng-click="downloadCSV()">
                  <i class="fa fa-download" aria-hidden="true"></i> {{ 'download_list_full' | translate }}
                </button>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="small">
                <i class="fa fa-info-circle fa-lg"></i> 
                <span>{{ 'tooltip_' + model.selectedSpeciesList + '_species' | translate }}</span>
              </div>
              <div class="small" ng-if="model.selectedSpeciesStatus && model.selectedSpeciesStatus != 'threat_all'">
                <i class="fa fa-info-circle fa-lg"></i>
                <span>{{ 'tooltip_' + model.selectedSpeciesStatus | translate }}</span>
              </div>
            </div>
          </div>

          <hr class="info-box-divider" />

          <div class="taxa-block" ng-repeat="group in model.taxogroups | orderBy:'sortby' ">
            <h4 ng-click="model.selectedGroup = (group.species.length > 0) ? group : undefined" class="clickable">&nbsp;
              <img align="left" class="thumb" ng-hide="h" ng-src="{{'https://mol.org/static/img/groups/taxa_'
                    + group.taxa + '.png' }}" ng-error="h=true;">
              <span class="lead">{{group.species.length | number}}&nbsp;{{group.title}}</span></h4>
          </div>
        </div>

        <div ng-if="model.region.name && model.selectedGroup !== undefined ">
          <div class=row>
            <div class="col-md-6 col-xs-6">
              <button class="btn btn-sm btn-default center-block" ng-click="model.selectedGroup = undefined">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'btn_all_groups' | translate }}
                  </button>
            </div>
            <div class="col-md-6 col-xs-6">
              <button class="btn btn-sm btn-default center-block" ng-click="downloadCSV(model.selectedGroup.taxa)">
                    <i class="fa fa-download" aria-hidden="true"></i> {{ 'download_list_group' | translate }}
                  </button>
            </div>
          </div>
          <hr class="info-box-divider" />
          <div class="row">
            <div class="col-md-12 ">
              <input type="text" class="form-control  center-block" placeholder="{{ 'filter_group' | translate }} {{model.selectedGroup.title | lowercase}}" ng-model="term"></div>
          </div>
          <ul uib-pagination total-items="(model.selectedGroup.species | filterBy: ['common', 'scientificname'] : term).length" items-per-page="pageSize" previous-text="{{ 'previous' | translate }}" next-text="{{ 'next' | translate }}"
            force-ellipses="true" boundary-link-numbers="true" max-size="4" ng-model="page"></ul>
          <div>
            <div ng-repeat="family in model.selectedGroup.species
                    | filterBy: ['common', 'scientificname'] : term
                    | orderBy:'sequenceid'
                    | limitTo:pageSize:((page-1)*pageSize)
                    | groupBy:'family_common'
                    | toArray:true
                    ">
              <h4 class="clickable bordered"><span class="lead">{{(family.$key !== 'null')?family.$key:'Family N/A'}}</span></h4>
              <div ng-click="speciesDetail(s)" class="row clickable species-block" ng-repeat="s in family">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <div ng-class="{'thumb-error':h}">
                    <img align="left" class="thumb" popover-placement="left" popover-trigger="mouseenter" ng-show="!h" ng-src="{{(s.image_url) ? s.image_url + '=s60-c' :
                          'https://mol.org/static/img/groups/taxa_'
                            + model.selectedGroup.taxa + '.png' }}" ng-error="h=true;"></div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                  <div class="common">{{s.common}}</div>
                  <div class="latin">{{s.scientificname}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </uib-tab>
      <uib-tab heading="{{ 'regions' | translate }}" active="activeRegionTab[1]" select="selectRegionTab[1]">

        <!-- <ul class="list-group" ng-if="model.selected_region.attributes.intersections">
          <li class="list-group-item" ng-repeat="reg in model.selected_region.attributes.intersections.regions">
            <strong>{{ 'attr_total_sub_regions' | translate }}</strong>: {{ reg.list.length }} 
            (<button type="button" class="btn btn-link" ng-click="isCollapsed = !isCollapsed">{{ 'attr_list' | translate }}</button>)
            <div uib-collapse="isCollapsed" ng-init="isCollapsed = true">
              <div class="well well-lg">
                <ul>
                  <li ng-repeat="r in reg.list | orderBy:'name':false:localeSensitiveComparator">
                    <a ui-sref="regions.region({regiontype:reg.type, region:r.name, regionid:r.region_id})" ui-sref-opts='{inherit: true, reload: false, absolute: true}'>{{ r.name }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list-group-item" ng-repeat="attr in (
              (molConfig.lang == 'es') ?
              model.selected_region.attributes.intersections.attributes_es 
              : model.selected_region.attributes.intersections.attributes_en
            )">
            <strong>{{ attr.title }}</strong>: {{ attr.value }}
          </li>
        </ul> -->

        <h5 ng-if="!model.subRegions" translate>sub_region_none</h5>
        
        <select class="form-control selectpicker" ng-if="model.subRegions"
          ng-options="regtype.type | translate | capitalize for regtype in model.subRegions" ng-model="model.selectedSubRegionType">
          <option value="" translate>sub_region_select</option>
        </select>
        
        <div ng-if="model.subRegions && model.selectedSubRegionType">
          <hr class="info-box-divider" />
          <div>
            <input type="text" class="form-control  center-block" placeholder="{{ 'filter_group' | translate }} {{model.selectedSubRegionType.type | translate | lowercase}}" ng-model="regterm">
          </div>
          <ul uib-pagination total-items="(model.selectedSubRegionType.subregions | filterBy: ['r.name'] : regterm).length" 
              items-per-page="pageSize" previous-text="{{ 'previous' | translate }}" next-text="{{ 'next' | translate }}"
              force-ellipses="true" boundary-link-numbers="true" max-size="4" ng-model="regpage"></ul>
          
          <ul class="list-group" ng-if="model.subRegions && model.selectedSubRegionType">
          <li class="list-group-item" ng-repeat="r in model.selectedSubRegionType.subregions
              | filterBy: ['name'] : regterm 
              | orderBy:'name':false:localeSensitiveComparator 
              | limitTo:pageSize:((regpage-1)*pageSize)"> <!-- | toArray:true -->
            <a ui-sref="regions.region({regiontype:r.type, region:r.name, regionid:r.region_id, bounds:r.bnds.join(',')})" ui-sref-opts='{inherit: true, reload: false, absolute: true}' ng-click="selectRegionTab(0)">{{ r.name }}</a>
          </li>
        </ul>
      </div>

      </uib-tab>
      <uib-tab active="activeRegionTab[2]" select="selectRegionTab[2]" ng-if="model.regionType.type != 'countries' && model.regionType != 'countries'">
        <uib-tab-heading>
          {{ 'actions' | translate }} <i class="fa fa-info-circle fa-lg" uib-popover="{{ 'tooltip_actions' | translate }}" popover-trigger="mouseenter" popover-placement="bottom"></i>
        </uib-tab-heading>
        <!-- <p translate>actions_description</p>
        <p translate>actions_examples</p>
        <ul class="list-group">
          <li class="list-group-item" translate>actions_option_1</li>
          <li class="list-group-item" translate>actions_option_2</li>
          <li class="list-group-item" translate>actions_option_3</li>
          <li class="list-group-item" translate>actions_option_4</li>
          <li class="list-group-item" translate>actions_option_5</li>
        </ul> -->

        <h5 ng-if="!model.selected_region.attributes.general.actions" translate>actions_not_available</h5>

        <div ng-if="model.selected_region.attributes.general.actions">
          <div ng-repeat="(key, actionList) in model.selected_region.attributes.general.actions">
            <h5>{{ key | translate }} <i class="fa fa-info-circle fa-lg" uib-popover="{{ 'tooltip_' + key | translate }}" popover-trigger="outsideClick" popover-placement="right"></i> </h5>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="action in actionList">
                <a ng-if="molConfig.lang == 'en'" href="{{ action.url }}" target="_blank">{{ action.title_en }}</a>
                <a ng-if="molConfig.lang == 'es'" href="{{ action.url }}" target="_blank">{{ action.title_es }}</a>
              </li>
            </ul>
          </div>
        </div>

      </uib-tab>
    </uib-tabset>
  </div>
  
</div>