<div class="sidebar species-list">
  <div ng-if="!model.region.name">
    <div>
      <div class="pull-right"> <!-- ng-if="model.regionType.source_logo && model.copyright.display" -->
        <a class="img-link" href="{{model.regionType.source_url}}">
            <img ng-src="{{model.regionType.source_logo}}" width="120px" />
          </a>
      </div>
      <div class="region-info">
        <h4 translate>{{ "region_"+model.regionType.type || "" }}</h4>
        <b>{{ model.hover_region.name }}</b>
      </div>

      <span ng-if="model.regions">
            <hr class="info-box-divider" />

            <div class="region-search">
                <h5>{{ model.placeholders.search }} </h5> 
                <input type="text"
                    placeholder="{{ model.placeholders.filter }}"
                    ng-model="model.selected_region"
                    typeahead-on-select="model.selected_region = $item"
                    typeahead-show-hint="true"
                    typeahead-select-on-blur="false"
                    typeahead-min-length="0"
                    typeahead-popup-template-url="groupedRegionPopupTemplate.html"
                    uib-typeahead="region.name for region in model.regions | filter:{name:$viewValue}" class="form-control" />
            </div>
        </span>

      <!-- base layers -->
      <div ng-if="model.regionType.baselayers">
        <hr class="info-box-divider" />
        <h5 translate>base_layers</h5>
        <select name="baselayeropts" id="baselayeropts" 
          class="form-control selectpicker" 
          ng-model="model.selectedBaseLayer" 
          ng-options="opt.name | makei18nKey | translate for opt in model.regionType.baselayers">
        </select>
        <div style="max-width:225px; margin: 15px;">
          <h6 translate>legend</h6>
          <div ng-if="model.selectedBaseLayer.legend.type == 'image'">
            <img ng-src="{{model.selectedBaseLayer.legend.src}}" />
          </div>
          <div ng-if="model.selectedBaseLayer.legend.type == 'url'">
            <div ng-include="model.selectedBaseLayer.legend.src"></div>
          </div>
        </div>
      </div>

      <div ng-if="model.regionType.copyright && model.copyright.display">
        <hr class="info-box-divider" />
        <!-- <p ng-bind-html="model.regionType.copyright"></p> -->
        <p translate>copyright_gmba</p>
      </div>

      <div>
        <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
        &nbsp;
        <span translate>download_mtn_inventory</span>
      </div>
    </div>

    <!-- display other region types to select from -->
    <div ng-if="model.regionTypes && !$state.params.embed">

      <hr class="info-box-divider" />

      <h4 translate>other_region_types</h4>
      <div ng-repeat="rtlist in model.regionTypes | remove:model.regionType | removeWith:{mode:'local'} | groupBy:'mode' | toArray:true">
        <h5 translate>{{ rtlist.$key }}</h5>
        <ul>
          <li ng-repeat="rt in rtlist"><a ui-sref="regions.region({regiontype: '{{ rt.type }}'})" translate>{{ rt.type }}</a></li>
        </ul>
      </div>

    </div>


  </div>

  <div ng-if="model.region.name">
    <a class="btn btn-danger btn-xs pull-right" ng-click="showAllRegions()" aria-label="Reset"><i class="fa fa-close" aria-hidden="true"></i></a>
    <div class="pull-right"> <!-- ng-if="model.regionType.source_logo && model.copyright.display" -->
      <a class="img-link" href="{{model.regionType.source_url}}" style="padding-right: 15px;">
          <img ng-src="{{model.regionType.source_logo}}" width="100px" />
        </a>
    </div>
  </div>

  <div>
    <h4><span class="lead">{{model.region.name}}</span></h4>
  </div>

  <div ng-if="model.error.message">
    <hr />
    <h5><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{model.error.message | translate}} </h5>
    <p translate>error_feedback</p>
    <hr />
  </div>

  <div ng-if="model.region.name && model.selectedGroup === undefined && model.taxogroups[0].species === undefined && model.error.message === undefined">
    <hr />
    <h5><i class="fa fa-refresh fa-spin fa-fw"></i> {{ 'loading_sp_list' | translate }} </h5>
    <hr />
  </div>

  <!-- tab container -->
  <div ng-if="model.region.name">
    <uib-tabset justified="true">

      <!-- region info -->
      <uib-tab heading="{{ 'information' | translate }}" active="activeRegionTab[0]" select="selectRegionTab[0]">
        <div class="fade-in" style="margin-top: 15px;" ng-if="model.loading">
          <h5><i class="fa fa-refresh fa-spin fa-fw"></i> {{ 'loading_content' | translate }} </h5>
        </div>
        <div class="fade-in" style="margin-top: 15px;" ng-if="!model.loading && !model.regioninfo">
          <p><em translate>no_content_available</em></p>
        </div>
        <div class="fade-in" style="margin-top: 15px;" ng-if="model.regioninfo.attributes && (model.regioninfo.attributes.length > 0)">
          <h5 translate>attributes</h5>
          <ul class="fa-ul">
            <li ng-repeat="attr in model.regioninfo.attributes | omit: 'attribute_id==\'gmba_scale\''"><i class="fa-li fa fa-circle-thin"></i> 
              <strong translate>{{ attr.attribute_id }}</strong>: {{ attr.attribute_value | numberAlt }} 
              <span ng-if="attr.attribute_id.indexOf('area') > 0">km<sup>2</sup></span>
            </li>
          </ul>
        </div>
        <div class="fade-in" style="margin-top: 15px;" ng-if="model.regioninfo.content">
          <h5 translate>description</h5>
          <p id="info-text-{{$index}}" ng-repeat="para in (model.regioninfo.content | newlines) track by $index">{{ para }}</p>
          <p id="info-source" class="pull-right">{{ 'source' | translate }}:
            <a href="{{model.regioninfo.url}}" target="_blank">{{ model.regioninfo.source }}</a>
          </p>
        </div>
      </uib-tab> <!-- /region info -->

      <!-- species tab -->
      <uib-tab heading="{{ 'species' | translate }}" active="activeRegionTab[1]" select="selectRegionTab[1]">

          <div ng-if="model.region.name && model.selectedGroup === undefined && model.taxogroups[0].species ">
            <div class="row">
              <!--
              <div class="col-md-6">
                <button class="btn btn-default" ng-click="showAllRegions()">Show all {{model.regionType.title}}</button>
              </div>
              -->
              <div class="col-md-12">
                <button class="btn btn-sm btn-default pull-right" ng-click="initiateDownload()">
                  <i class="fa fa-download" aria-hidden="true"></i> {{ 'download_list_full' | translate }}
                </button>
              </div>
              <div class="col-md-12">
                <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                <!-- <span translate>view_region_datasets</span> -->
                <small><span><a ng-click="showRegionDatasets()" href="#">Browse datasets</a> available for this mountain range.</span></small>
              </div>
            </div>

            <hr class="info-box-divider" />

            <div class="taxa-block" ng-repeat="group in model.taxogroups  | orderBy:'sortby' ">
              <h4 ng-click="model.selectedGroup = (group.count > 0) ? group : undefined" class="clickable">&nbsp;
                <img align="left" class="thumb" ng-hide="h" ng-src="{{'https://mol.org/static/img/groups/taxa_'
             + group.taxa + '.png' }}" ng-error="h=true;">
                <span class="lead">{{group.count | number}}&nbsp;{{group.title}}</span></h4>
            </div>
          </div>
          <div ng-if="model.region.name && model.selectedGroup !== undefined ">
            <div class=row>
              <div class="col-md-6 col-xs-6">
                <button class="btn btn-sm btn-default pull-left" ng-click="model.selectedGroup = undefined">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'btn_all_groups' | translate }}
                </button>
              </div>
              <div class="col-md-6 col-xs-6">
                <button class="btn btn-sm btn-default pull-right" ng-click="initiateDownload(model.selectedGroup.taxa)">
                  <i class="fa fa-download" aria-hidden="true"></i> {{ 'download_list_group' | translate }}
                </button>
              </div>
            </div>
            <hr class="info-box-divider" />
            <div class="row">
              <div class="col-md-12 ">
                <input type="text" class="form-control  center-block" placeholder="{{ 'filter_group' | translate }} {{model.selectedGroup.title | lowercase}}"
                  ng-model="term"></div>
            </div>
            <ul uib-pagination total-items="(model.selectedGroup.species | filterBy: ['common', 'scientificname'] : term).length" items-per-page="pageSize"
              previous-text="{{ 'previous' | translate }}" next-text="{{ 'next' | translate }}" force-ellipses="true" boundary-link-numbers="true"
              max-size="4" ng-model="page"></ul>
            <div>
              <div ng-repeat="family in model.selectedGroup.species
            | filterBy: ['common', 'scientificname'] : term
            | orderBy:'sequenceid'
            | limitTo:pageSize:((page-1)*pageSize)
            | groupBy:'family_common'
            | toArray:true
             ">
                <h4 class="clickable bordered"><span class="lead">{{(family.$key !== 'null')?family.$key:'Family N/A'}}</span></h4>
                <div ng-click="speciesDetail(s)" class="row clickable species-block" ng-repeat="s in family">
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <div ng-class="{'thumb-error':h}">
                      <img align="left" class="thumb" popover-placement="left" popover-trigger="mouseenter" ng-show="!h" ng-src="{{(s.image_url) ? s.image_url + '=s60-c' :
                  'https://mol.org/static/img/groups/taxa_'
                    + model.selectedGroup.taxa + '.png' }}" ng-error="h=true;"></div>
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-10">
                    <div class="common">{{s.common}}</div>
                    <div class="latin">{{s.scientificname}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
      </uib-tab> <!-- /species tab -->

    </uib-tabset> 
  </div> <!-- /tab container -->

</div>