<div class="sidebar species-list">
  <div ng-if="!model.region.name">
    <div>
      <div ng-if="model.regionType.source_logo" class="pull-right">
        <a class="img-link" href="{{model.regionType.source_url}}">
            <img src="{{model.regionType.source_logo}}" width="120px" />
          </a>
      </div>
      <div class="region-info">
        <h4>{{ model.regionType.title || "" }}</h4>
        <b>{{ model.hover_region.name || "Hover over the map to select a region" }}</b>
      </div>

      <span ng-if="model.regions">
            <hr class="info-box-divider" />

            <div class="region-search">
                <h5>Search for a region </h5> 
                <input type="text"
                    placeholder="Search {{ model.regionType.title | lowercase }}"
                    ng-model="model.selected_region"
                    typeahead-on-select="model.selected_region = $item"
                    typeahead-show-hint="true"
                    typeahead-select-on-blur="false"
                    typeahead-min-length="0"
                    typeahead-popup-template-url="groupedRegionPopupTemplate.html"
                    uib-typeahead="region.name for region in model.regions | filter:$viewValue" class="form-control" />
            </div>
        </span>

      <div ng-if="model.regionType.copyright">
        <hr class="info-box-divider" />
        <p ng-bind-html="model.regionType.copyright"></p>
      </div>
    </div>

  </div>

  <div ng-if="model.region.name">
    <a class="btn btn-danger btn-xs pull-right" ng-click="showAllRegions()" aria-label="Reset"><i class="fa fa-close" aria-hidden="true"></i></a>
  </div>

  <!-- <h4 ng-if="model.region.name">
    <span class="lead">{{model.selectedGroup.title || "Species"}}</span> expected in the
    <br />
    <span class="lead">{{model.region.name}}</span> region.
  </h4> -->
  <div>
    <h4><span class="lead">{{model.region.name}}</span></h4>
    <ul ng-if="model.selected_region.attributes.general">
      <li>
        <strong>Area</strong>: {{ model.selected_region.attributes.general.area | mKm }}
      </li>
      <li>
        <strong>Elevation</strong>: 
        {{ model.selected_region.attributes.general.elevation.min }} 
        - 
        {{ model.selected_region.attributes.general.elevation.max }}
      </li>
    </ul>
  </div>
  

  <div ng-if="model.error.message">
    <hr />
    <h5><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{model.error.message}} </h5>
    <p>Please try again or <a href="https://mol.org/feedback">let us know</a> about the issue.</p>
    <hr />
  </div>

  <div ng-if="model.region.name && model.selectedGroup === undefined && model.taxogroups[0].species === undefined && model.error.message === undefined">
    <hr />
    <h5><i class="fa fa-refresh fa-spin fa-fw"></i> Loading species list... </h5>
    <hr />
  </div>


<div ng-if="model.region.name">
    <uib-tabset justified="true">
      <uib-tab heading="Species">
        
        <div ng-if="model.region.name && model.selectedGroup === undefined && model.taxogroups[0].species ">
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <select class="form-control selectpicker" ng-model="model.selectedSpeciesList">
                <option value="expected">Expected species</option>
                <option value="recorded">Recorded species</option>
              </select>
            </div>
            <div class="col-md-6 col-xs-6">
              <button class="btn btn-sm btn-default" ng-click="downloadCSV()">
                  <i class="fa fa-download" aria-hidden="true"></i> Download full list
                </button>
            </div>
          </div>

          <hr class="info-box-divider" />

          <div class="taxa-block" ng-repeat="group in model.taxogroups  | orderBy:'sortby' ">
            <h4 ng-click="model.selectedGroup = (group.count > 0) ? group : undefined" class="clickable">&nbsp;
              <img align="left" class="thumb" ng-hide="h" ng-src="{{'https://mol.org/static/img/groups/taxa_'
                    + group.taxa + '.png' }}" ng-error="h=true;">
              <span class="lead">{{group.count | number}}&nbsp;{{group.title}}</span></h4>
          </div>
        </div>

        <div ng-if="model.region.name && model.selectedGroup !== undefined ">
          <div class=row>
            <div class="col-md-6 col-xs-6">
              <button class="btn btn-sm btn-default center-block" ng-click="model.selectedGroup = undefined">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to all groups
                  </button>
            </div>
            <div class="col-md-6 col-xs-6">
              <button class="btn btn-sm btn-default center-block" ng-click="downloadCSV(model.selectedGroup.taxa)">
                    <i class="fa fa-download" aria-hidden="true"></i> Download group list
                  </button>
            </div>
          </div>
          <hr class="info-box-divider" />
          <div class="row">
            <div class="col-md-12 ">
              <input type="text" class="form-control  center-block" placeholder="Filter {{model.selectedGroup.taxa}}" ng-model="term"></div>
          </div>
          <ul uib-pagination total-items="(model.selectedGroup.species | filterBy: ['common', 'scientificname'] : term).length" items-per-page="pageSize"
            force-ellipses="true" boundary-link-numbers="true" max-size="4" ng-model="page"></ul>
          <div>
            <div ng-repeat="family in model.selectedGroup.species
                    | filterBy: ['common', 'scientificname'] : term
                    | orderBy:'sequenceid'
                    | limitTo:pageSize:((page-1)*pageSize)
                    | groupBy:'family_common'
                    | toArray:true
                    ">
              <h4 class="clickable bordered"><span class="lead">{{(family.$key !== 'null')?family.$key:'Family N/A'}}</span></h4>
              <div ng-click="speciesDetail(s)" class="row clickable species-block" ng-repeat="s in family">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <div ng-class="{'thumb-error':h}">
                    <img align="left" class="thumb" popover-placement="left" popover-trigger="mouseenter" ng-show="!h" ng-src="{{(s.image_url) ? s.image_url + '=s60-c' :
                          'https://mol.org/static/img/groups/taxa_'
                            + model.selectedGroup.taxa + '.png' }}" ng-error="h=true;"></div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                  <div class="common">{{s.common}}</div>
                  <div class="latin">{{s.scientificname}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </uib-tab>
      <uib-tab heading="Parks">
        <ul ng-if="model.selected_region.attributes.intersections">
          <li ng-repeat="reg in model.selected_region.attributes.intersections.regions">
            <strong>Number of {{ reg.type.split('_') | join:' ' }}</strong>: {{ reg.list.length }} 
            (<button type="button" class="btn btn-link" ng-click="isCollapsed = !isCollapsed">list</button>)
            <div uib-collapse="isCollapsed" ng-init="isCollapsed = true">
              <div class="well well-lg">
                <ul>
                  <li ng-repeat="r in reg.list">
                    <a ui-sref="regions.region({regiontype:reg.type, region:r.name, regionid:r.region_id})" ui-sref-opts='{inherit: true, reload: false, absolute: true}'>{{ r.name }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li ng-repeat="attr in model.selected_region.attributes.intersections.attributes">
            <strong>{{ attr.title }}</strong>: {{ attr.value }}
          </li>
        </ul>
      </uib-tab>
      <uib-tab heading="Actions">
        No actions available.
      </uib-tab>
    </uib-tabset>
  </div>
  
</div>