
<style>
  .species-list .thumb {
    width: 32px; height: 32px;
    opacity: 1;
    display:block;
    float:left;

    z-index: 10000000;
    transition:all 1s ease;
  }
  .species-list .thumb {
    width: 32px; height: 32px;
    transition:all 0.8s ease;
  }

  .species-block .thumb {
    width: 60px; height: 60px;
  }

  .species-list .thumb-error {
    width: 60px; height: 60px;
    background-size:contain;
    background-image: url('https://mol.org/static/img/groups/taxa_all.png');
  }

  .taxa-block { margin-bottom: 20px; }
  .species-block { margin-bottom: 10px; }
  .species-block .common { font-weight: bold; }

  .species-list .row {
    padding: 2px 0px;
    font-size: 12pt;
    vertical-align: middle;
  }

  .species-list .row:hover{

  }

  .species-list .latin {
    font-style: italic;
    font-size: -1;
  }

  .species-list .autocomplete .form-control, .species-list .form-control {
    max-width:100%;
  }

  .species-list h4 span.lead {
    font-size: 18px;
  }
  .species-list h4.clickable.bordered {
    border-bottom: 1px solid black;
  }

  .region-search .popup-wrapper {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      background-color: #f9f9f9;
      width: 100%;
      max-height: 250px;
      overflow: scroll;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 0 0 5px 5px;      
    }

    .region-search .popup-wrapper > .message {
      padding: 10px 20px;
      border-bottom: 1px solid #ddd;
      color: #868686;
    }

    .region-search .popup-wrapper > .dropdown-menu {
      position: static;
      float: none;
      display: block;
      min-width: 160px;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }  

    @media (min-width: 1200px) {
      .modal-lg { width: 1100px; }    
    }

    .typeahead-group-header {
      border-bottom: 1px solid #ddd;
      padding: 12px 10px 3px;
    }

    ul.nav.nav-tabs li { border-bottom: 1px solid lightgray; }
    ul.nav.nav-tabs li div { cursor: pointer; }

</style>
<script type="text/ng-template" id="groupedRegionPopupTemplate.html">
  <div class="popup-wrapper" ng-style="{top: position().top+'px', left: position().left+'px'}" style="display: block;" ng-show="isOpen() && !moveInProgress"
    aria-hidden="{{!isOpen()}}">
    <!-- <p class="message">Select a region</p> -->

    <ul class="dropdown-menu" role="listbox">
      <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)"
        ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div class="typeahead-group-header" ng-if="match.model.firstInGroup">{{match.model.attributes.country || 'Countries'}}</div>
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
        </li>
    </ul>
    </div>
</script>

<div ng-switch on="model.regionType.type">
  <div ng-switch-when="watersheds"><div ng-include="'static/app/views/species-list/list_watershed_region.html'"></div></div>
  <div ng-switch-when="mountains"><div ng-include="'static/app/views/species-list/list_mountains_region.html'"></div></div>
  <div ng-switch-default><div ng-include="'static/app/views/species-list/list_generic_region.html'"></div></div>
</div>
