<style>
.tfm_logo img {
  float: right;
  height: 55px;
  margin: 10px;
}
.mol_logo img {
  height: 50px;
  margin: 10px;
}
a.mol_logo:hover, a.tfm_logo:hover {
  background-color: transparent;
}
</style>
<header style="background-color: light-gray">
  <a class="mol_logo left" href="http://www.mol.org">
                <img src="static/app/img/logo.png" alt="Map of Life" /></a>
  <a class="tfm_logo right" href="https://www.fieldmuseum.org/">
            <img src="static/app/img/field_museum_logo.jpg" alt="The Field Museum" /></a>
  <!--<mol-auth class="mol-auth" user="user"></mol-auth>-->
  <!--<nav class="main_navigation hidden-xxs">
        <ul class="menu">
            <li class="tab">
                <a ng-href="http://species.mol.org/species/{{species.scientificname}}">
                  <i class="fa fa-info"></i>Species</a>
            </li>
            <li class="tab">
                <a ui-sref="location"
                    ui-sref-active="selected">
                        <i class="fa fa-list-ol icon"></i>Locations</a>
            </li>
            <li class="hidden-xs">
                <a href="https://auth.mol.org/mobile">Mobile</a>
            </li>
            <li class="hidden-xs">
                <a href="https://www.mol.org/about">About MOL</a>
            </li>
            <li class="hidden-xs">
                <a href="https://www.mol.org/news">News</a>
            </li>
        </ul>
    </nav>-->
</header>