<style type="text/css">
.info-boxes {
  position: absolute;
  top: 0;
  right: 150px;
  width: 230px;
  padding: 0 6px 8px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
  z-index: 101;

  font: 14px/18px Arial, Helvetica, sans-serif;
  text-align: center;
}
.info-boxes h4 {
  font-size: 1.1em;
  font-weight: 500;
}
.info-boxes hr {
  margin: 15px 0;
  border-top: 1px solid #000;
}
.info-boxes .form-control {
    max-width: inherit;
}


.region-search .popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
    width: 100%;
    max-height: 250px;
    overflow: scroll;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 0 0 5px 5px;      
  }

  .region-search .popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .region-search .popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }  
</style>
<script type="text/ng-template" id="regionPopupTemplate.html">
  <div class="popup-wrapper"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <p class="message">Select a region</p>

    <ul class="dropdown-menu" role="listbox">
        <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
            ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
            <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
        </li>
    </ul>
  </div>
</script>
<div class="info-boxes" ng-if="!model.region.region_id" ng-class="{'hidden': (!$state.params.embed||$state.params.sidebar)}">
    <div class="region-info">
        <h4>{{ model.regionType.title || "" }}</h4>
        <b>{{ model.hover_region.name || "Hover over the map" }}</b>
    </div>

    <span ng-if="model.regions">
        <hr class="info-box-divider" />

        <div class="region-search">
            <h4>Search for a region</h4> 
            <input type="text"
                placeholder="Search {{ model.regionType.title | lowercase }}"
                ng-model="model.selected_region"
                typeahead-on-select="model.selected_region = $item"
                typeahead-show-hint="true"
                typeahead-min-length="0"
                typeahead-popup-template-url="regionPopupTemplate.html"
                uib-typeahead="region.name for region in model.regions | filter:$viewValue" class="form-control" />
        </div>
    </span>
</div>
<ui-gmap-google-map
    class="partials-map"
    center="model.map.center"
    zoom="model.map.zoom"
    bounds="model.map.bounds"
    events="model.map.events"
    options="model.map.options"
    control="model.map.control"
    pan="true">
    <ui-gmap-map-type
        options="mt"
        show="mt.show"
        refresh="mt.refresh"
        ng-repeat="mt in model.map.overlayMapTypes">
    </ui-gmap-map-type>
    <!--
    <ui-gmap-window
        show="model.map.infowindow.show"
        coords="model.map.infowindow.coords"
        options="model.map.infowindow.options"
        templateUrl="model.map.infowindow.templateUrl"
        templateParameter="model.map.infowindow.model"
        ></ui-gmap-window>
        -->
        <ui-gmap-map-control
          template="logo.tpl.html" position="bottom-left" index="10000">

        </ui-gmap-map-control>

    <ui-gmap-marker 
        ng-if="model.map.location.display" 
        idKey="model.map.location.marker.id" 
        coords="model.map.location.marker.coords">
    </ui-gmap-marker>
    <ui-gmap-circle 
        center="model.map.location.marker.coords" 
        stroke="{color: '#8cbf44', weight: 2, opacity: 0.7}" 
        fill="{color: '#8cbf44', opacity: 0.3}" 
        radius="model.map.location.marker.radius.radius"
        visible="model.map.location.display"
        clickable="false">
    </ui-gmap-circle>
</ui-gmap-google-map>
