<ui-gmap-google-map
    class="partials-map"
    center="model.map.center"
    zoom="model.map.zoom"
    bounds="model.map.bounds"
    events="model.map.events"
    options="model.map.options"
    control="model.map.control"
    pan="true">
    <ui-gmap-map-type
        options="mt"
        show="mt.show"
        refresh="mt.refresh"
        ng-repeat="mt in model.map.overlayMapTypes">
    </ui-gmap-map-type>
    <ui-gmap-window
        show="model.map.infowindow.show"
        coords="model.map.infowindow.coords"
        options="model.map.infowindow.options"
        templateUrl="model.map.infowindow.templateUrl"
        templateParameter="model.map.infowindow.model"
        ></ui-gmap-window>
        <ui-gmap-map-control
          template="logo.tpl.html" position="bottom-left" index="10000">

        </ui-gmap-map-control>
</ui-gmap-google-map>
